<a href="https://colab.research.google.com/github/christianpfitzner/python_computer_science_examples/blob/master/03_Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

In [ ]:
import this

## Output

A Hello World example exists in all programming languages and is often the smallest
possible program with a tiny user interaction: The words ”Hello” and ”World” are
displayed

In [ ]:
print("Hello World")

In [ ]:
print("Hello World")
print("Hello", "World")
print("Hello", "World", sep=" ")
print("Hello", "World", sep=" ", end=" ")

In [ ]:
age = 20
print("My age is %d" % age)

In [ ]:
name = "Bob"
print("My name is %s. I am %d years old" % (name,age))

In [ ]:
print("I love {1}. It is a great {0}".format("programming language", "Python"))

In [1]:
print("Number: {0:1d}".format(123))   # Number: 123   
print("Number: {0:2d}".format(123))   # Number: 123
print("Number: {0:3d}".format(123))   # Number: 123
print("Number: {0:4d}".format(123))   # Number:  123
print("Number: {0:5d}".format(123))   # Number:   123   
print("Number: {0:6d}".format(123))   # Number:    123
print("Number: {0:7d}".format(123))   # Number:     123
print("Number: {0:8d}".format(123))   # Number:      123

Number: 123
Number: 123
Number: 123
Number:  123
Number:   123
Number:    123
Number:     123
Number:      123

In [2]:
a = 123.456789
print("Float: {0:1.0f}".format(a))   # Float: 123
print("Float: {0:1.1f}".format(a))   # Float: 123.5
print("Float: {0:1.2f}".format(a))   # Float: 123.46
print("Float: {0:1.3f}".format(a))   # Float: 123.457
print("Float: {0:1.4f}".format(a))   # Float: 123.4578
print("Float: {0:1.5f}".format(a))   # Float: 123.45789
print("Float: {0:1.6f}".format(a))   # Float: 123.457890
print("Float: {0:1.7f}".format(a))   # Float: 123.4578900
print("Float: {0:1.8f}".format(a))   # Float: 123.45789000
print("Float: {0:1.9f}".format(a))   # Float: 123.457890000

Float: 123
Float: 123.5
Float: 123.46
Float: 123.457
Float: 123.4568
Float: 123.45679
Float: 123.456789
Float: 123.4567890
Float: 123.45678900
Float: 123.456789000

In [3]:
print("Float: {0:4.2f}".format(a))   # Float: 123.45
print("Float: {0:5.2f}".format(a))   # Float: 123.45
print("Float: {0:6.2f}".format(a))   # Float: 123.45
print("Float: {0:7.2f}".format(a))   # Float: 123.45
print("Float: {0:8.2f}".format(a))   # Float: 123.45
print("Float: {0:9.2f}".format(a))   # Float: 123.45
print("Float: {0:10.2f}".format(a))  # Float:  123.45
print("Float: {0:11.2f}".format(a))  # Float:   123.45
print("Float: {0:12.2f}".format(a))  # Float:     123.45
print("Float: {0:13.2f}".format(a))  # Float:      123.45
print("Float: {0:14.2f}".format(a))  # Float:       123.45
print("Float: {0:15.2f}".format(a))  # Float:        123.45
print("Float: {0:16.2f}".format(a))  # Float:         123.45

Float: 123.46
Float: 123.46
Float: 123.46
Float:  123.46
Float:   123.46
Float:    123.46
Float:     123.46
Float:      123.46
Float:       123.46
Float:        123.46
Float:         123.46
Float:          123.46
Float:           123.46


### f-String

In [ ]:
name = 'Chris'
age = 34
print(f"Hello, My name is {name} and I'm {age} years old.")

In [ ]:
a = 4
b = 3
print(f"You can also do calculations: {a}+{b} = {a+b}")

## Variables

In [ ]:
a, b, c = 1, "Hello", 3.14
print(a)
print(b)
print(c)

In [4]:
variable_a = 1
variable_b = 2
variable_c = variable_a + variable_b
print(variable_c)

3

In [5]:
x = "great"

def myfunc():
   print("Python is " + x)

myfunc()

Python is great

In [6]:
x = "awesome"        # global variable
def myfunc():
   global x          # make global variable mutable
   x = "fantastic"   # change value of global variable

myfunc()
print("Python is " + x)

Python is fantastic

## Keywords

In [ ]:
# importing "keyword" for keyword operations
import keyword
  
# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

## Comments

In [ ]:
# this is a simple comment

"""
This is a comment over
several lines. 
"""

In [ ]:
v = 30
t = 1
s = v * t     # multiply the variables 
              # v and t and store the result in s

## Datatypes

In [ ]:
x = 1
print(type(a))      # <class 'int'>

In [ ]:
x = 1.0
print(type(x))     # <class 'float'>

In [ ]:
x = 1              # define and init x as an integer
y = float(x)       # cast x to a float and store it in y
print(type(y))     # prints <class 'float'>

z = 1.0            # define and init z as a float
a = int(z)         # cast z to an int and store it in a 
print(type(a))     # prints <class 'int'>

In [7]:
a = True
b = False
print(a,b)   # True False

True False

In [9]:
bool(1)                           # True Integer
bool(2.3)                         # True Float
bool("Hello World")               # True String
bool(["This", "is", "a", "list"]) # True List

True

In [10]:
bool(0)         # False Int
bool(0.0)       # False Float
bool(None)      # False None
bool("")        # False String
bool([])        # False List
bool(())        # False Tuple
bool({})        # False Dictionary

False

## Strings

In [11]:
print("This is a valid string")
print('This is also a valid string')
print('''This is a string
which contains multiple lines''')

This is a valid string
This is also a valid string
This is a string
which contains multiple lines

In [ ]:
a = 1+2j
print('a =',a)            # a = (2+3j) 
print('Type: ',type(a))   # Type: <class 'complex'>

In [ ]:
import random
rand_num = random.random()
print (rand_num)

In [ ]:
random.randint(-1, 200)    # -1 to 200
random.uniform(10.5, 20.5) # 10.5 to 20.5
random.random()*4.5        # 0 to 4.5

## Operators

In [ ]:
10 + 5      # addition
10 - 4      # subtraction
10 * 4      # multiplication 
10 / 4      # division
10 % 4      # modulus
10 ** 4     # exponential 
10 // 4     # floor division 


print(f"4  + 5  =  {4  + 5}")
print(f"10 - 4  =  {10 - 4}")

In [ ]:
a = 10          # assigning a variable to it
a += 4          # same as a = a + 4
a -= 10         # same as a = a - 10
a *= 10         # same as a = a * 10
a /= 3          # same as a = a / 3
a %= 7          # same as a = a % 7
a //= 2         # same as a = a // 2
a **= 4         # same as a = a ** 4

In [ ]:
a = 4
b = 5
print("a == b: ", a == b)   # equal
print("a != b: ", a != b)   # unequal
print("a > b:  ", a > b )    # bigger
print("a < b:  ", a < b )    # smaller
print("a <= b: ", a <= b)   # less or equal
print("a >= b: ", a >= b)   # more or equal

In [ ]:
a = 5
b = 6
print(a < 7 and b < 10)     # and operator
print((a < 5) and (b < 10)) # and operator 
                            # with parentheses
print(a < 7 or b < 4)       # or operator
print(not(a < 7 and b < 10))# not function

## Input

In [ ]:
input_number = input("Please enter a number: ")

In [ ]:
name = input("Please enter your name: ")
print("Hello " + name + "!")

In [ ]:
a = input("Number 1: ")  # input "1"
b = input("Number 2: ")  # input "2"
print(a+b)               # output "12"

In [ ]:
input_number = int(input("Enter integer: "))
float_number = float(input("Ener float: "))

## Math module

In [ ]:
import math
print(math.pi)       # output: 3.141592653589793

In [ ]:
print(math.pi)    # 3.141592653589793
print(math.tau)   # 6.283185307179586
print(math.e)     # 2.718281828459045
print(math.inf)   # inf
print(math.nan)   # nan

In [ ]:
math.sin(0.00)
math.sin(-1.23)
math.cos(10)
math.tan(math.pi)
math.sin(math.pi/2)

In [ ]:
math.log(10)           # log of 10
math.sqrt(2)           # square root of 2
math.ceil(2.33)        # round up
math.degrees(math.pi)  # conversion from rad to deg
math.radians(180)      # conversion for deg to rad

# Exercises

## Radius Circle
Write a piece of code which asks for the radius of a circle $r$. Your program should compute the diameter $d$, area $A$ and circumference $u$.

In [ ]:
## your solution here
#
#
#
#
#

## Volume of a Sphere
Write a piece of code which calculates the volume $V$ of a sphere, where you provide the radius $r$.

In [ ]:
## your solution here
#
#
#
#
#

## Volume of a Cube

Write a piece of code which calculates the volume of a cube, based on the length of an edge.

In [ ]:
## your solution here
#
#
#
#
#

## Gas Consumption of a Car

Use the following equation got calculate the sum of all natural numbers to a specified end value. 

$\sum_{i=1}^n = \dfrac{n \cdot (n+1)}{2}$

Input the number $n$ and provide the user a nicely formatted output. 


This task can also be solved by using loops; however, these are not taught till now in this course.

In [ ]:
## your solution here
#
#
#
#
#

## Gravity

In this task, we want to calculate the time $t$ and the velocity $v$ of an object falling from a certain hight $h$. The simplified equation for this -- without friction, aerodynamics or the coriolis force -- look like the following: 

$t(h) = \sqrt{\dfrac{2h}{g}}$ 

and

$v(h) = \sqrt{2hg}$

Gravity is defined by $g = 9.81~\dfrac{ \text{m} }{\text{s}^2}$

In [ ]:
## your solution here
#
#
#
#
#

## Money and Interest

Based on the following equation. You can calculate how much money you have after $n$ years. 

$K_n = K_0 \cdot (1 + z/100)^n$

where $K_0$ is the amount of money from the start and $z$ is the interest in percent. 

Implement this equation.

In [ ]:
## your solution here
#
#
#
#
#