<a href="https://colab.research.google.com/github/christianpfitzner/python_computer_science_examples/blob/master/04_Functions_and_Procedures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [2]:
def my_function():
   print("Hello from a function")

In [3]:
my_function()

Hello from a function

In [4]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [10]:
def my_function(*kids):
   print("My first child is "  + str(kids[0]))
   print("My second child is " + str(kids[1]))


k = ["Bob", "Eve", "Sego"]
my_function(k)

My first child is ['Bob', 'Eve', 'Sego']

IndexError: ignored

In [11]:
def my_function(x):
   return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Recursion

In [13]:
def factorial(x):
   if x == 1:
      return 1
   else:
      return x * factorial(x-1)

print(factorial(5))

120

## Lambda

In [15]:
def myfunc(n):
   return lambda a : a * n

In [16]:
mydoubler = myfunc(2)    
mytripler = myfunc(3)
mydoubler(11)   # return 22
mytripler(11)   # return 33

33

## IPO Model

In [21]:
import math

def user_input():
   return float(input("Radius of circle in cm: "))
                  
def calculate_area(radius):
   return radius**2 * math.pi

def user_output(radius, area):
   print("Radius: {0}, Area: {1:3.3f}".format(radius, area))
                  
radius = user_input()
area   = calculate_area(radius)
user_output(radius, area)

Radius of circle in cm: 10
Radius: 10.0, Area: 314.159