<a href="https://colab.research.google.com/github/christianpfitzner/python_computer_science_examples/blob/master/04_Functions_and_Procedures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

In [ ]:
def my_function():
   print("Hello from a function")

In [ ]:
my_function()

Hello from a function

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def my_function(*kids):
   print("My first child is "  + str(kids[0]))
   print("My second child is " + str(kids[1]))


k = ["Bob", "Eve", "Sego"]
my_function(k)

My first child is ['Bob', 'Eve', 'Sego']

IndexError: ignored

In [ ]:
def my_function(x):
   return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

## Recursion

In [ ]:
def factorial(x):
   if x == 1:
      return 1
   else:
      return x * factorial(x-1)

print(factorial(5))

120

## Lambda

In [ ]:
def myfunc(n):
   return lambda a : a * n

In [ ]:
mydoubler = myfunc(2)    
mytripler = myfunc(3)
mydoubler(11)   # return 22
mytripler(11)   # return 33

33

## IPO Model

In [ ]:
import math

def user_input():
   return float(input("Radius of circle in cm: "))
                  
def calculate_area(radius):
   return radius**2 * math.pi

def user_output(radius, area):
   print("Radius: {0}, Area: {1:3.3f}".format(radius, area))
                  
radius = user_input()
area   = calculate_area(radius)
user_output(radius, area)

Radius of circle in cm: 10
Radius: 10.0, Area: 314.159

# Exercises

## Print the Name and Address
Create a function `print_name()` that takes the name and street, house number, zip code and city and prints everything nicely formatted. 

Input: 
```python
print_names("Peter Müller", "Esplanade", 10, 85049, "Ingolstadt")
```

Output: 
```python
Peter Müller
Esplanade 10
85049 Ingolstadt 
```

In [1]:
## your solution here
#
#
#
#
#
#
#
#

## Variable Length of Arguments

Create a function `variable_func()` that accepts a variable length of integers and prints their values. 

Input: 
```python
variable_func(10,20)
variable_func(10,20,30)
```

Output: 
```python
Values: 
10
20

Values: 
10
20
30
```

In [2]:
## your solution here
#
#
#
#
#
#
#
#

## Default Argument
Create a function `show_employee()` that accepts an employees name, as well as the salary. The name is a mandatory field. In case the salary is missing, the value for the salary should be assigned with 50,000. 

Input: 
```python
show_employee("Ben", 30000)
show_employee("Tina")
```

Output: 
```python
Name:    Ben
Salary:  30000

Name:    Tina
Salary   50000
```

In [3]:
## your solution here
#
#
#
#
#
#
#
#

## Return Max Value

Create a function `ret_max()` which takes a variable amount of input arguments and returns the maximum number. 



Input: 
```python
print(ret_max(30,-20, 55))

print(ret_max(-2, 5, 30, 0, 100))
```

Output: 
```python
55
100
```

In [4]:
## your solution here
#
#
#
#
#
#
#
#

## Triangle

Write a function `triangle()`which takes two sides of a triangle ($b$, $c$) and the angle between them $\alpha_{deg}$. The function should calculate the length of the opposite line $a$. 

The function takes the two sides, $b$ and $c$, as well as the angle $\alpha$ in degrees (!). You can assume that only valid values are forwarded. 


The length of the side $a$ and the area $f$ is calculated by the following formula


$$ a^2 = b^2 + c^2 - 2\cdot b \cdot c \cdot \cos (\alpha_{rad}) $$


and the area is calculated by 


$$ f = \dfrac{1}{2} \cdot b \cdot c \cdot \sin(\alpha_{rad}) $$

Please note, that here $a^2$ is calculated, while we want $a$. 

Use the math module to solve this exercise.

In [5]:
## your solution here
#
#
#
#
#
#
#
#