<a href="https://colab.research.google.com/github/christianpfitzner/python_computer_science_examples/blob/master/07_Containers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Containers

## Lists

In [1]:
my_list = [1, 2, 3, 4, 5]

In [2]:
my_list = [1, "Hello", 3.4]

In [3]:
week_list = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
print(week_list)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [5]:
print(week_list[0])   # Output: Monday
print(week_list[1])   # Output: Tuesday

Monday
Tuesday

In [ ]:
print(week_list[-1])   # Output: Sunday
print(week_list[-2])   # Output: Saturday

In [ ]:
work_days = week_list[0:5] 
print(work_days)  
# Output: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [ ]:
all_days = week_list[0:7]

## Tuples

In [8]:
my_tuple = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

In [9]:
print(my_tuple)      # Output: "Monday", "Tuesday", ...
print(my_tuple[0])   # Output: Monday

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
Monday

In [ ]:
my_tuple = (1, 2, 3, 4, 1)
my_tuple.count(1) # 2   
my_tuple.index(1) # 0

## Dicts

In [12]:
my_dict = {"Monday": 1, "Tuesday": 2, "Wednesday": 3, "Thursday": 4, "Friday": 5, "Saturday": 6, "Sunday": 7}

In [13]:
person = {"name": "Christian", "age": 34, "country": "Germany"}

In [15]:
print(person["name"])   # Output: Christian 
print(person["age"])    # Output: 34
print(person["country"])# Output: Germany

Christian
34
Germany

In [17]:
person["age"]  = 35       # changes age
person["city"] = "Berlin" # adds city

In [18]:
person = {"name": "Chris", "age": 34, "country": "Ger"}
print(all(person))   # Output: True
print(any(person))   # Output: True
print(len(person))   # Output: 3
print(sorted(person))# Output: ['age','country','name']

True
True
3
['age', 'country', 'name']

In [20]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
squares.pop(4)
print(squares) # Output: {1: 1, 2: 4, 3: 9, 5: 25}

{1: 1, 2: 4, 3: 9, 5: 25}

In [21]:
squares.popitem()
print(squares) # Output: {1: 1, 2: 4, 3: 9}

{1: 1, 2: 4, 3: 9}

## Sets

In [22]:
my_set = {1, 2, 3, 4, 5}
print(my_set) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [23]:
my_set = {1, 2, 3, 4, 5, 3, 2}
print(my_set) # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [24]:
for x in my_set:
    print(x)

1
2
3
4
5

In [25]:
color = {"red", "green", "blue"}
color.add("yellow")
print(color) # Output: {'red', 'green', 'blue', 'yellow'}

{'yellow', 'red', 'green', 'blue'}

In [26]:
color = {"red", "green", "blue"}
color.remove("blue")
print(color) # Output: {'red', 'green'}

{'red', 'green'}

In [28]:
color = {"red", "green", "blue"}
color.discard("yellow")

In [ ]:
color = {"red", "green", "blue"}
color.pop()
print(color) # Output: {'green', 'blue'}

In [29]:
color = {"red", "green", "blue"}
color.clear()
print(color) # Output: set()

set()