<a href="https://colab.research.google.com/github/christianpfitzner/python_computer_science_examples/blob/master/08_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classes

In [1]:
class MyClass:
   pass

In [2]:
my_class = MyClass()

In [3]:
type(my_class) # <class '__main__.MyClass'>

__main__.MyClass

In [4]:
my_class = MyClass()
my_class.variable_a = 1
my_class.variable_b = "Hello World"

In [5]:
class Person:
   # constructor of the class Person
   def __init__(self, name, age):
      self.name = name
      self.age  = age

In [6]:
person = Person("John", 36)
print(person.name)   # John
print(person.age)    # 36

John
36

In [7]:
person.name = "Jane"
person.age  = 37

In [8]:
class Person:
   # constructor of the class Person
   def __init__(self, name, age):
      self.name = name
      self.age  = age

   def print_person(self):
      print("Name: "+self.name+"Age: "+str(self.age))

In [9]:
person = Person("John", 36)
person.print_person()      # Name: John  Age: 36

Name: JohnAge: 36

In [10]:
class Person: 
   def __init__(self, name, age):
       self._name = name
       self._age  = age
       
tim = Person("Tim", 22)
tim._name    # Still accessible from outside of the class

'Tim'

In [11]:
class Person:
   def __init__(self, name, age):
      self.__name = name
      self.__age  = age

In [13]:
person = Person("John", 36)
print(person.__name)   # AttributeError: 'Person' object 
                       #  has no attribute '__name'
print(person.__age)    # AttributeError: 'Person' object 
                       #  has no attribute '__age'

AttributeError: ignored

## Overload Operators

In [16]:
class Person: 
  def __init__(self, name, age):
    self.name = name
    self.age  = age
  def __str__(self):
    return "Name: "+self.name+" Age: "+str(self.age)

In [17]:
person = Person("John", 36)
print(person)   # Name: John  Age: 36

Name: John Age: 36

In [ ]:
class Vector2D:
   def __init__(self, x, y):
      self.x = x
      self.y = y

   def __add__(self, other):
      return Vector2D(self.x + other.x, self.y + other.y)

In [ ]:
v1 = Vector2D(1, 2)
v2 = Vector2D(3, 4)
v3 = v1 + v2     # v3 = Vector2D(4, 6)

In [ ]:
class Vector2D:
   def __init__(self, x, y):
      self.x = x
      self.y = y
   def __add__(self, other):
      return Vector2D(self.x + other.x, self.y + other.y)
   def __sub__(self, other):
      return Vector2D(self.x - other.x, self.y - other.y)
   def __mul__(self, other):
      return Vector2D(self.x * other.x, self.y * other.y)
   def __truediv__(self, other):
      return Vector2D(self.x / other.x, self.y / other.y)
   def __str__(self):
      return "("+str(self.x)+", "+str(self.y)+")"

In [ ]:
class Student: 
   def __init__(self, name, id):
       self.name = name
       self.id   = id
   def __eq__(self, other):
       name_equal = self.name == other.name
       id_equal   = self.id   == other.id
       if(name_equal and id_equal):
            return True
       else: 
            return False

## Inheritance

In [18]:
class Student(Person):
   def __init__(self, name, age, student_id, uni):
      Person.__init__(self, name, age)
      self.student_id = student_id
      self.uni        = uni

In [19]:
   def print_student(self):
      # call the print_person method of the base class
      Person.print_person(self)              
      # print the student id
      print("Student ID: " + self.student_id)  
      # print the university
      print("University: " + self.uni)

In [20]:
isinstance(1, int)          # True
isinstance(1, float)        # False

False

In [22]:
class A:       
   pass           

class B(A): 
   pass

a = A()
b = B()

isinstance(a,A)   # True
issubclass(A,B)   # False

False